
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@theme {
--color-primary: #ff6363;
--color-secondary-100: #e2e2d5;
--color-secondary-200: #888883;
--font-body: "Nunito", ui-sans-serif, system-ui, sans-serif;
/* Brand palette */
--color-brand-start: #1E0840;
--color-brand-end: #1c1d6a;
--color-brand-deep: #1e1e5a;
--color-brand-title: #EAEDFB;
--color-brand-darker: #14144f;
--color-brand-items: #EAEDFB;

/* UI surfaces */
--color-surface: #181a1b;        /* app background */
--color-surface-dark: #0f0f0f;    /* cards / modals */
--color-muted: #EAEDFB;          /* inputs / subtle bg */
--color-muted-hover: #c8c8ec;    /* hover for muted */

/* Auth gradients */
--color-login-from: #1E0840;
--color-login-to: #13215a;


}

@keyframes accordion-down {
  from { height: 0; }
  to { height: var(--radix-accordion-content-height); }
}

@keyframes accordion-up {
  from { height: var(--radix-accordion-content-height); }
  to { height: 0; }
}

/* ESTA ES LA PARTE NUEVA IMPORTANTE */
@utility animate-accordion-down {
  animation: accordion-down 0.3s ease-out;
}

@utility animate-accordion-up {
  animation: accordion-up 0.3s ease-out;
}